In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
mask_percentages = np.arange(0.1, 1.1, 0.1)
mask_percentages = np.append(mask_percentages,[.85,.95])
mask_percentages = np.sort(mask_percentages)

In [3]:
rand_mask_avg_err = pd.read_csv('recons_average_mse_per_precision_random_mask.csv',header=None)
rand_mask_avg_err[0] = mask_percentages*100
# rand_mask_avg_err = rand_mask_avg_err.iloc[:,2].to_list()
grad_mask_avg_err = pd.read_csv('recons_average_mse_per_precision_grad_mask.csv',header=None)
grad_mask_avg_err[0] = mask_percentages*100

add_mask_avg_err = pd.read_csv('recons_average_mse_additive_masking_reconstruction.csv', header=None)
add_mask_avg_err.sort_values(by=0, ascending=False, inplace=True)
add_mask_avg_err[0] = mask_percentages*100
add_mask_avg_err

        0              1         2
11   10.0  1744307816431  0.007709
10   20.0  1744307816431  0.015556
9    30.0  1744307816431  0.025501
8    40.0  1744307816431  0.041293
7    50.0  1744307816431  0.063659
6    60.0  1744307816431  0.095052
5    70.0  1744307816431  0.138917
4    80.0  1744307816431  0.169870
3    85.0  1744307816431  0.214423
2    90.0  1744307816431  0.338136
1    95.0  1744307816431  1.378026
0   100.0  1744307816431  1.378026

In [4]:
rand_mask_avg_err

        0              1         2
0    10.0  1745486913651  0.009861
1    20.0  1745487180489  0.020467
2    30.0  1745487457957  0.032164
3    40.0  1745487744709  0.044996
4    50.0  1745488028375  0.059691
5    60.0  1745488328184  0.076879
6    70.0  1745488622463  0.097963
7    80.0  1745488925469  0.127134
8    85.0  1745489217891  0.146719
9    90.0  1745489505381  0.177023
10   95.0  1745489799296  0.237955
11  100.0  1745490137074  1.378026

In [5]:
plt.plot(rand_mask_avg_err.iloc[:,0], rand_mask_avg_err.iloc[:,2], marker='o', linestyle='-', color='orange', label='Rndom Masking Reconstruction Error')
plt.plot(grad_mask_avg_err.iloc[:,0], grad_mask_avg_err.iloc[:,2], marker='o', linestyle='-', color='yellow', label='Gradual Masking Reconstruction Error')
plt.plot(add_mask_avg_err.iloc[:,0], add_mask_avg_err.iloc[:,2], marker='o', linestyle='-', color='blue', label='Additive Masking Reconstruction Error')
plt.xlabel('Mask Percentage')
plt.ylabel('Error Rate')
plt.title('Error vs Mask Percentage')
plt.legend()
plt.grid(True)
# plot_path = 'recons/random/reconstruction_error_vs_mask_percentage.png'
plt.savefig('reconstruction_error_vs_mask_percentage.png')
plt.close()

In [6]:
rand_mask_avg_class_err = pd.read_csv('recons_average_classification_accuracy_random.csv',header=None) #'recons_average_cross_entropy_error_random_mask.csv'
grad_mask_avg_class_err = pd.read_csv('recons_average_classification_accuracy_gradual.csv',header=None) #'recons_average_cross_entropy_error_grad_mask.csv'
add_mask_avg_class_err = pd.read_csv('recons_average_classification_error_additive_masking.csv', header=None)
add_mask_avg_class_err.sort_values(by=0, ascending=False, inplace=True)

In [7]:
rand_mask_avg_class_err[0] = mask_percentages*100
grad_mask_avg_class_err[0] = mask_percentages*100
add_mask_avg_class_err[0] = mask_percentages*100
add_mask_avg_class_err

        0              1       2
11   10.0  1744307816433  0.0737
10   20.0  1744307816433  0.1473
9    30.0  1744307816433  0.2188
8    40.0  1744307816433  0.3324
7    50.0  1744307816433  0.4675
6    60.0  1744307816433  0.6279
5    70.0  1744307816433  0.8024
4    80.0  1744307816433  0.8751
3    85.0  1744307816433  0.9370
2    90.0  1744307816433  0.9768
1    95.0  1744307816433  1.0000
0   100.0  1744307816433  1.0000

In [8]:
rand_mask_avg_class_err

        0              1       2
0    10.0  1741267025912  0.2427
1    20.0  1741267344152  0.4077
2    30.0  1741267682706  0.5379
3    40.0  1741268034456  0.6410
4    50.0  1741268387752  0.7291
5    60.0  1741268740797  0.8039
6    70.0  1741269105222  0.8606
7    80.0  1741269481407  0.9169
8    85.0  1741269856916  0.9367
9    90.0  1741270239017  0.9582
10   95.0  1741270628245  0.9771
11  100.0  1741271015324  1.0000

In [9]:
plt.plot(rand_mask_avg_class_err.iloc[:,0], rand_mask_avg_class_err.iloc[:,2]*100, marker='o', linestyle='-', color='orange', label='Rndom Masking Classification Error')
plt.plot(grad_mask_avg_class_err.iloc[:,0], grad_mask_avg_class_err.iloc[:,2]*100, marker='o', linestyle='-', color='yellow', label='Gradual Masking Classification Error')
plt.plot(add_mask_avg_class_err.iloc[:,0], add_mask_avg_class_err.iloc[:,2]*100, marker='o', linestyle='-', color='blue', label='Additive Masking Classification Error')
plt.xlabel('Mask Percentage')
plt.ylabel('Error Percentage')
plt.title('Error vs Mask Percentage')
plt.legend()
plt.grid(True)
# plt.show()
plt.savefig('Classification_error_vs_mask_percentage.png')
plt.close()

In [10]:
1 - 495/500

0.010000000000000009