In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
mask_percentages = np.arange(0.1, 1.1, 0.1)
mask_percentages = np.append(mask_percentages,[.85,.95])
mask_percentages = np.sort(mask_percentages)

In [5]:
rand_mask_avg_err = pd.read_csv('recons_average_mse_per_precision_random_mask.csv',header=None)
rand_mask_avg_err[0] = mask_percentages*100
# rand_mask_avg_err = rand_mask_avg_err.iloc[:,2].to_list()
grad_mask_avg_err = pd.read_csv('recons_average_mse_per_precision_gradual_mask.csv',header=None)
grad_mask_avg_err[0] = mask_percentages*100

add_mask_avg_err = pd.read_csv('recons_average_mse_additive_masking_reconstruction.csv', header=None)
add_mask_avg_err.sort_values(by=0, ascending=False, inplace=True)
add_mask_avg_err[0] = mask_percentages*100
add_mask_avg_err

        0              1         2
11   10.0  1743696900196  0.197665
10   20.0  1743696900196  0.204022
9    30.0  1743696900196  0.212395
8    40.0  1743696900196  0.225984
7    50.0  1743696900196  0.244698
6    60.0  1743696900196  0.273400
5    70.0  1743696900196  0.320236
4    80.0  1743696900196  0.356635
3    85.0  1743696900196  0.412338
2    90.0  1743696900196  0.506548
1    95.0  1743696900196  1.378026
0   100.0  1743696900196  1.378026

In [4]:
rand_mask_avg_err

        0              1         2
0    10.0  1741267025909  0.009887
1    20.0  1741267344147  0.015159
2    30.0  1741267682698  0.020786
3    40.0  1741268034448  0.026857
4    50.0  1741268387745  0.033433
5    60.0  1741268740784  0.040721
6    70.0  1741269105207  0.048957
7    80.0  1741269481390  0.058695
8    85.0  1741269856898  0.068526
9    90.0  1741270238997  0.079339
10   95.0  1741270628222  0.093757
11  100.0  1741271015300  0.200779

In [6]:
plt.plot(rand_mask_avg_err.iloc[:,0], rand_mask_avg_err.iloc[:,2], marker='o', linestyle='-', color='orange', label='Rndom Masking Reconstruction Error')
plt.plot(grad_mask_avg_err.iloc[:,0], grad_mask_avg_err.iloc[:,2], marker='o', linestyle='-', color='yellow', label='Gradual Masking Reconstruction Error')
plt.plot(add_mask_avg_err.iloc[:,0], add_mask_avg_err.iloc[:,2], marker='o', linestyle='-', color='blue', label='Additive Masking Reconstruction Error')
plt.xlabel('Mask Percentage')
plt.ylabel('Error Rate')
plt.title('Error vs Mask Percentage')
plt.legend()
plt.grid(True)
# plot_path = 'recons/random/reconstruction_error_vs_mask_percentage.png'
plt.savefig('reconstruction_error_vs_mask_percentage.png')
plt.close()

In [10]:
rand_mask_avg_class_err = pd.read_csv('recons_average_classification_accuracy_random.csv',header=None) #'recons_average_cross_entropy_error_random_mask.csv'
grad_mask_avg_class_err = pd.read_csv('recons_average_classification_accuracy_gradual.csv',header=None) #'recons_average_cross_entropy_error_grad_mask.csv'
add_mask_avg_class_err = pd.read_csv('recons_average_classification_error_additive_masking.csv', header=None)
add_mask_avg_class_err.sort_values(by=0, ascending=False, inplace=True)

In [11]:
rand_mask_avg_class_err[0] = mask_percentages*100
grad_mask_avg_class_err[0] = mask_percentages*100
add_mask_avg_class_err[0] = mask_percentages*100
add_mask_avg_class_err

        0              1       2
11   10.0  1743696900198  0.9339
10   20.0  1743696900198  0.9404
9    30.0  1743696900198  0.9456
8    40.0  1743696900198  0.9542
7    50.0  1743696900198  0.9617
6    60.0  1743696900198  0.9720
5    70.0  1743696900198  0.9794
4    80.0  1743696900198  0.9833
3    85.0  1743696900198  0.9858
2    90.0  1743696900198  0.9913
1    95.0  1743696900198  1.0000
0   100.0  1743696900198  1.0000

In [12]:
rand_mask_avg_class_err

        0              1       2
0    10.0  1741267025912  0.2427
1    20.0  1741267344152  0.4077
2    30.0  1741267682706  0.5379
3    40.0  1741268034456  0.6410
4    50.0  1741268387752  0.7291
5    60.0  1741268740797  0.8039
6    70.0  1741269105222  0.8606
7    80.0  1741269481407  0.9169
8    85.0  1741269856916  0.9367
9    90.0  1741270239017  0.9582
10   95.0  1741270628245  0.9771
11  100.0  1741271015324  1.0000

In [13]:
plt.plot(rand_mask_avg_class_err.iloc[:,0], rand_mask_avg_class_err.iloc[:,2]*100, marker='o', linestyle='-', color='orange', label='Rndom Masking Classification Error')
plt.plot(grad_mask_avg_class_err.iloc[:,0], grad_mask_avg_class_err.iloc[:,2]*100, marker='o', linestyle='-', color='yellow', label='Gradual Masking Classification Error')
plt.plot(add_mask_avg_class_err.iloc[:,0], add_mask_avg_class_err.iloc[:,2]*100, marker='o', linestyle='-', color='blue', label='Additive Masking Classification Error')
plt.xlabel('Mask Percentage')
plt.ylabel('Error Percentage')
plt.title('Error vs Mask Percentage')
plt.legend()
plt.grid(True)
# plt.show()
plt.savefig('Classification_error_vs_mask_percentage.png')
plt.close()

In [15]:
1 - 495/500

0.010000000000000009